apiVersion: v1
kind: Service
metadata:
  name: llmops-service
  namespace: argocd
spec:
  type: NodePort
  selector:
    app: llmops-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8501
      nodePort: 32080